* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.dashboard-container {
    text-align: center;
    padding-top: 10%;
    
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20%;
}

 form button {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

form input {
    padding: 5px;
    border-radius: 8px;
    margin: 2em 0;
}

.results {
    margin-top: 2em;
    width: 80%;
    margin:2em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results li {
    padding: 2em;
}

.results li > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.results li > a:hover {
    text-decoration: underline;
}

.detail-weather {
    text-align: center;
}

.weather-table table {
    margin: auto;
    margin-top: 2em;
    border: 1px solid black;
}

table {
    border: 1px solid black;
}

td {
    padding: 1em;
    
}

#hero-image {
    width: 20%;
    height: 20%;
}